<li>
	{{name}}
    
	<button type="button" class="change-devoured btn btn-danger" data-id="{{id}}" data-newdevour="{{devoured}}">{{#if devoured}}
		DEVOUR!{{else}}Not Devoured
		{{/if}}
	</button>
	
	<button type="button" class="delete-burger btn btn-danger" data-id="{{this.id}}">Delete</button>

	
</li>